<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    <%- include('nav.ejs') %>

    <div class="white-bg">
        <div class="white-bg">
            <%for (let i=0; i < posts.length; i++) {%>
                <div class="list-box">
                    <h4>
                        <a href="/detail/<%=posts[i]._id%>">
                            <%= posts[i].title %>
                        </a>
                        <a href="/edit/<%=posts[i]._id%>">βοΈ</a>
                        <span class="delete" data-id="<%=posts[i]._id%>">π—‘οΈ</span>
                    </h4>
                    <p><%=posts[i].content%></p>
                </div>
            <% } %>
        </div>
    </div>

    <a href="/list/next/<%= posts[posts.length - 1]._id %>">λ‹¤μ</a>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        console.log('<%= posts[posts.length - 1]._id %>');
        for (let i = 0; i < '<%= posts.length %>'; i++) {
            document.querySelectorAll('.delete')[i].addEventListener('click', function (e){
                // console.log(e.target.dataset.id)
                axios.delete('/delete?docid=' + e.target.dataset.id)
                    .then(r => {
                        e.target.parentElement.parentElement.style.display = 'none'
                    })
            })
        }

        axios.get('/URL').then(res => {
            console.log(res);
        })

        // fetch('/URL')
        // .then(r => {
        //     if(r.status == 200) {
        //         return r.json()
        //     } else {
        //         // μ„λ²„κ°€ μ—λ¬μ½”λ“ μ „μ†΅μ‹ μ‹¤ν–‰ν•  μ½”λ“
        //     }
        // })
        // .then(result => {
        //     // μ„±κ³µμ‹ μ‹¤ν–‰ν•  μ½”λ“
        // }).catch(error => {
        //     // μΈν„°λ„· λ¬Έμ λ“±μΌλ΅ μ‹¤ν¨μ‹ μ‹¤ν–‰ν•  μ½”λ“
        //     console.log(error)
        // })
    </script>
</body>
</html>